<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="index">
    <h1 id="mainHeader"> This is error page - you probably did something illegal </h1>

    <div id="buttonRegister">
        <a href="http://localhost:8080/instakos/home"><button class="bn29">HOME</button></a>
    </div>

    <div id="loginButtonOnError">
        <a href="http://localhost:8080/instakos/login"><button class="bn29">LOGIN</button></a>
    </div>

</div>
</body>
</html>