<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="login">
    <form action="loginUser" method="POST" id="nameForm">
        <div class="container">
            <div class="brand-logo"></div>
            <div class="brand-title">INSTAKOS</div>
            <div class="inputs">
                <label>Username</label>
                <input type="text" name="username" placeholder="tamburinek"/>
                <label>Password</label>
                <input type="password" name="password" placeholder="Min 6 charaters long"/>
                <button type="submit">LOGIN</button>
                <a href="registration_form">
                    <button type="button">Not registreted?</button>
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>